version: 2
updates:
  - package-ecosystem: gitsubmodule
    directory: "/"
    schedule:
      interval: weekly
    labels:
      - automerge
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    groups:
      gha-dependencies:
        applies-to: "version-updates"
        patterns:
          - "*"
    labels:
      - automerge
